@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: sans-serif;
}


:root{
  --MainColor: #1E201E;
  --SecondColor: #227B94;
  --ThirdColor: #78B7D0;
  --CardColor: #3C3D37;
}


